* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: poppins;
}
/* for insta button  */
.fa {
  padding: 0px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 1px 1px;
}

.fa:hover {
    opacity: 0.2;
}

.fa-instagram {
  background: white;
  color: black;
}
#navbar {
  overflow: hidden;
  background-color: white;
  padding: 70px 5px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: #818181;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  padding-left: 40%;
  font-family: 'Croissant One';
  transition: 0.7s;
}
#navbar-right {
  float: right;
  padding-right: 20px;
  transition: 0.7s;
}
#navbar-right a:hover {
    opacity: 0.2;
}

@media screen and (max-width: 1000px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
/* to design menu w/ opacity */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'poppins';
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }